#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 90%;
}

/*#buttonBlock{*/
/*    position: absolute;*/
/*    top:650pt;*/
/*}*/

#textarea {
    position: absolute;
    top: 40pt;
    right: 40pt;
    bottom: 40pt;
    width: 30%;
    font-size: 15pt;
    padding: 15pt;
}

.leaflet-div-icon {
    background: red;
    border: 1px solid red;
    border-radius: 50%;
    opacity: 0.8;
}

/*.leaflet-container {*/
/*    background: transparent;*/
/*    outline: 0;*/
/*}*/
/*.leaflet-container a {*/
/*    color: transparent;*/
/*}*/

/*.leaflet-draw-actions a {*/
/*    color: #FFF;*/
/*}*/